*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato", sans-serif;
}


/********************************************
                  HEADER
********************************************/
ul{
    background: black;
}
ul li{
    display: inline-block;
    padding: 15px;
}
ul li a{
    color: white;
}
ul li a:link, ul li a:visited{
    text-decoration: none;
}
.submenu{
/*    float: left;*/
    display: block;
    display: none;
}
li.has-submenu{
    position: relative;
}

ul li.submenu{
    background: darkgrey;
    position: absolute;
    width: 150px;
    top: 49px;
    left: 0;
}
ul li:hover{
    background: darkgrey;
    cursor: pointer;
}
li.has-submenu:hover submenu{
    display: block;
}
nav{
    width: 100%;
    height: 0;
    position: fixed;
}
#img-pad{
    padding-top: 48px;
}


/*************************************************
                    SECOND PAGE
*************************************************/
#band{
    width: 800px;
    padding: 50px;
    background: white;
    margin: 0 auto;
}
#band-tag{
    display: block;
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 30px;
}
#music-tag{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: darkgrey;
    text-align: center;
    margin: 15px;
}
#bigpara{
    text-align: left;
}

.band-img{
    float: left;
    padding: 58.335px;
    padding-top: 40px;
}
.clearfix{
    clear: both;
}
.img-names{
    text-align: center;
    margin: 20px;
}


/********************************************************
                      THIRD PAGE
*******************************************************/
#black-bg-tour{
    background: black;
}
#tour{
    width: 800px;
    padding: 80px 50px 100px 50px;
    padding-bottom: 100px;
    background: black;
    margin: 0 auto;
}
#three-mon-box{
    background: white;
    margin: 35px 0;
}
#reminder-tag{
    color: lightgray;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    padding: 10px 0 0 0;
    font-family: "Lato", sans-serif;
}
#tour-tag{
    color: white;
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    letter-spacing: 4px;
    font-size: 30px;
}
.t-tickets{
    color: white;
    padding: 10px 0 10px;
    background: black;
    display: block;
    width: 118px;
    margin: 15px;
    text-align: center;
}
.tic-btn a:link, .tic-btn:visited{
    text-decoration: none;
    font-weight: lighter;
}
.tic-btn a:hover, .tic-btn:active{
    background: #ccc;
    color: #000;
} 
.t-places, .t-dates, .t-text{
    color: black;
    margin: 15px;
}
.t-dates{
    color: darkgray;
}
.tour-img{
    background: white;
    width: 245px;
    float: left;
}
#t-img-one{
    margin-right: 16.25px;
}
#t-img-two{
    margin: 0 16.25px 0;
}
#t-img-three{
    margin-left: 16.25px;
}
.three-text-box{
    color: #757575;
    padding: 10px;
    border-bottom: solid 1px #ddd;
}


/************************************************************
                        CONTACT
***********************************************************/
#contact-pg{
    width: 800px;
    padding: 80px 50px 100px 50px;
    background: white;
    margin: 0 auto;
}
#contact-tag{
    text-align: center;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    letter-spacing: 5px;
}
#fan-tag{
    text-align: center;
    color: darkgrey;
    font-style: italic;
    font-family: "Lato", sans-serif;
    margin: 15px;   
    font-size: medium;
}
#n-n-e{
    display: block;
    width: 350px;
    margin: 50px 50px 50px 0;
    float: left;
}
#form-box{
    display: block;
    width: 400px;
    margin: 50px 0px;
    float: left;
}
.dot{
    margin-right: 10px;
}
.c-nne{
    margin-bottom: 7px;
}
#name{
    font-size: 15px;
    padding: 10px 11px 10px 10px;
}
#email{
    padding: 10px 0px 10px 12px;
    font-size: 15px;
}
#f-message{
    margin: 10px 0;
    padding: 10px 228px 10px 10px;
}
#f-send{
    float: right;
    background: black;
    color: white;
    border: solid 1px black;
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 15px;
}
#f-send:hover{
    background: #ccc;
    color: #000;
    cursor: pointer;
    border: solid 1px #ccc;
}


/*************************************************
                    FOOTER
*************************************************/
.last-footer{
    margin: 64px 0;
}
#apps{
    text-align: center;
    color: grey;
    margin-bottom: 15px;
}
#powering{
    text-align: center;
    color: darkgray;
    font-size: small;
}
#powering a{
    color: darkgray;
}
























